/* Material theme grid and colors */
:root {
  --mdc-layout-grid-column-width-desktop: 72px;
  --mdc-layout-grid-column-width-phone: 72px;
  --mdc-layout-grid-column-width-tablet: 72px;

  --mdc-layout-grid-gutter-desktop: 24px;
  --mdc-layout-grid-gutter-phone: 16px;
  --mdc-layout-grid-gutter-tablet: 16px;

  --mdc-layout-grid-margin-desktop: 24px;
  --mdc-layout-grid-margin-phone: 16px;
  --mdc-layout-grid-margin-tablet: 16px;

  --mdc-theme-background: #e8eaed;
  --mdc-theme-primary: #8bc34a;
  --mdc-theme-secondary: #03a9f4;
}

html {
  line-height: 1.15;
  overflow: y-scroll;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #e8eaed;
  color: #222;
  cursor: default;
  display: block;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
}

main {
  background-color: #e8eaed;
  color: rgba(0, 0, 0, 0.87);
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

hr {
  box-sizing: content-box;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  overflow: visible;
  padding: 0;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  color: #0288d1; /* Material Design Light Blue 700 */
}

a:hover {
  color: #03a9f4; /* Material Design Light Blue 500 */
  text-decoration: none;
}

a:visited {
  color: #7b1fa2; /* Material Design Purple 700 */
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

address,
cite {
  font-style: normal;
  font-weight: inherit;
}

dfn,
em,
strong {
  font-style: normal;
  font-weight: bolder;
  font-weight: 500;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details{display:block}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/* MDC card */
.mdc-card {border-radius:4px;background-color:#fff;background-color:var(--mdc-theme-surface, #fff);position:relative;box-shadow:0px 2px 1px -1px rgba(0, 0, 0, 0.2),0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 1px 3px 0px rgba(0,0,0,.12);display:flex;flex-direction:column;box-sizing:border-box}
.mdc-card .mdc-elevation-overlay{width:100%;height:100%;top:0;left:0}
.mdc-card--outlined{box-shadow:0px 0px 0px 0px rgba(0, 0, 0, 0.2),0px 0px 0px 0px rgba(0, 0, 0, 0.14),0px 0px 0px 0px rgba(0,0,0,.12);border-width:1px;border-style:solid;border-color:#e0e0e0}
.mdc-card__media{position:relative;box-sizing:border-box;background-repeat:no-repeat;background-position:center;background-size:cover}
.mdc-card__media::before{display:block;content:""}
.mdc-card__media:first-child{border-top-left-radius:inherit;border-top-right-radius:inherit}
.mdc-card__media:last-child{border-bottom-left-radius:inherit;border-bottom-right-radius:inherit}
.mdc-card__media--square::before{margin-top:100%}
.mdc-card__media--16-9::before{margin-top:56.25%}
.mdc-card__media-content{position:absolute;top:0;right:0;bottom:0;left:0;box-sizing:border-box}
.mdc-card__primary-action{display:flex;flex-direction:column;box-sizing:border-box;position:relative;outline:none;color:inherit;text-decoration:none;cursor:pointer;overflow:hidden}
.mdc-card__primary-action:first-child{border-top-left-radius:inherit;border-top-right-radius:inherit}
.mdc-card__primary-action:last-child{border-bottom-left-radius:inherit;border-bottom-right-radius:inherit}
.mdc-card__primary-action{--mdc-ripple-fg-size: 0;--mdc-ripple-left: 0;--mdc-ripple-top: 0;--mdc-ripple-fg-scale: 1;--mdc-ripple-fg-translate-end: 0;--mdc-ripple-fg-translate-start: 0;-webkit-tap-highlight-color:rgba(0,0,0,0)}
.mdc-card__primary-action::before,.mdc-card__primary-action::after{position:absolute;border-radius:50%;opacity:0;pointer-events:none;content:""}
.mdc-card__primary-action::before{transition:opacity 15ms linear,background-color 15ms linear;z-index:1}
.mdc-card__primary-action::before,.mdc-card__primary-action::after{top:calc(50% - 100%);left:calc(50% - 100%);width:200%;height:200%}
.mdc-card__primary-action::before,.mdc-card__primary-action::after{background-color:#000}
.mdc-card__primary-action:focus::before{transition-duration:75ms;opacity:.12}
.mdc-card__primary-action::after{transition:opacity 150ms linear}
.mdc-card__primary-action:active::after{transition-duration:75ms;opacity:.12}

/* Changes and additions to default MDC cards */
.amd-card-collection {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  padding: 2px 16px 48px 16px;
  scroll-snap-type: x mandatory;
  width: 100%;
}

.amd-card-collection {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.amd-card-collection::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.amd-card-collection > .mdc-card {
  flex-shrink: 0;
  height: 352px;
  margin-right: 16px;
  width: 352px;
  max-width: calc(100% - 56px);
  scroll-snap-align: start;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  will-change: box-shadow;
}

/* `.mdc-elevation--z5` on `:hover` */
.amd-card-collection > .mdc-card:hover {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),0px 5px 8px 0px rgba(0, 0, 0, 0.14),0px 1px 14px 0px rgba(0,0,0,.12);
}

.amd-card-collection > .mdc-card:last-child {
  scroll-snap-align: center;
}

.mdc-card > a {
  background: transparent;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: inherit;
  display: inline-block;
  height: 100%;
  scroll-snap-align: start;
  text-decoration: none;
  width: 100%;
}

.mdc-card .mdc-typography--headline6 {
  white-space: nowrap;
}

.mdc-card .mdc-typography--headline6,
.mdc-card .mdc-typography--body2 {
  overflow: hidden;
  padding-left: 16px;
  padding-right: 8px;
  text-overflow: ellipsis;
}

.mdc-card > a:hover h3 {
  color: #0288d1; /* Light Blue 700 */
}


.mdc-card__media--performance-guidelines {
  background-image: url("/images/performance-guidelines.jpg");
  background-image: url("/images/performance-guidelines.webp");
}

.mdc-card__media--storecore-brand-identity-guide {
  background-image: url("/images/storecore-brand-identity-guide.jpg");
  background-image: url("/images/storecore-brand-identity-guide.webp");
}

.mdc-card__media--storecore-installation-quickstart-guide {
  background-image: url("/images/storecore-installation-quickstart-guide.jpg");
  background-image: url("/images/storecore-installation-quickstart-guide.webp");
}

.mdc-card__media--internationalization-and-localization {
  background-image: url("/images/internationalization-and-localization.jpg");
  background-image: url("/images/internationalization-and-localization.webp");
}


/* MDC data table */
.amd-data-table {
  background-color: #fff;
  border-color: rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}

/* .mdc-data-table__table */
table {
  border: 0;
  border-collapse: collapse;
  min-width: 100%;
  table-layout: fixed;
  white-space: nowrap;
}

/* .mdc-data-table__content */
tbody {
  font-family: Roboto, "Droid Sans", sans-serif;
  font-size: 0.875rem;
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.0178571429em;
  text-decoration: inherit;
  text-transform: inherit;
}

/* .mdc-data-table__header-row, .mdc-data-table__row */
tr {
  background-color: inherit;
}

/* .mdc-data-table__row */ 
tbody tr {
  border-top-color:rgba(0, 0, 0, 0.12);
  border-top-style: solid;
  border-top-width:1px;
}

/* .mdc-data-table__row:hover */ 
tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

/* .mdc-data-table__cell, .mdc-data-table__header-cell */
td, th {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, "Droid Sans", sans-serif;
  font-size: 0.875rem;
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  text-decoration: inherit;
  text-transform: inherit;
  text-overflow: ellipsis;
}

/* .mdc-data-table__cell */
td {
  font-weight: 400;
  font-variant-numeric: tabular-nums;
  height: 52px;
  line-height: 1.25rem;
  letter-spacing: 0.0178571429em;
}

/* .mdc-data-table__header-cell */
th {
  font-weight: 500;
  height: 56px;
  letter-spacing: 0.0071428571em;
  line-height: 1.375rem;
  text-align: left;
}

/* MDC icon button */
.mdc-icon-button {
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  color: inherit;
  display: inline-block;
  fill: currentColor;
  font-size: 24px;
  text-decoration: none;
  cursor: pointer;
  height: 48px;
  outline: none;
  padding: 12px;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 48px;
}

.mdc-icon-button::before,
.mdc-icon-button::after {
  border-radius: 50%;
  content: "";
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.mdc-icon-button::before {
  transition: opacity 15ms linear, background-color 15ms linear;
  z-index: 1;
}

.mdc-icon-button::before,
.mdc-icon-button::after {
  background-color: #000;
  top: calc(50% - 50%);
  left: calc(50% - 50%);
  width: 100%;
  height: 100%;
}

.mdc-icon-button:hover::before {
  opacity: 0.04;
}

.mdc-icon-button:focus::before {
  opacity: 0.12;
  transition-duration: 75ms;
}

.mdc-icon-button::after {
  transition: opacity 150ms linear;
}

.mdc-icon-button:active::after {
  opacity: 0.12;
  transition-duration: 75ms;
}


/**
 * MDC layout grid
 */
 @media(min-width: 840px){.mdc-layout-grid{box-sizing:border-box;margin:0 auto;padding:24px;padding:var(--mdc-layout-grid-margin-desktop, 24px)}}
 @media(min-width: 600px) and (max-width: 839px){.mdc-layout-grid{box-sizing:border-box;margin:0 auto;padding:16px;padding:var(--mdc-layout-grid-margin-tablet, 16px)}}
 @media(max-width: 599px){.mdc-layout-grid{box-sizing:border-box;margin:0 auto;padding:16px;padding:var(--mdc-layout-grid-margin-phone, 16px)}}
 @media(min-width: 840px){.mdc-layout-grid__inner{display:flex;flex-flow:row wrap;align-items:stretch;margin:-12px;margin:calc(var(--mdc-layout-grid-gutter-desktop, 24px) / 2 * -1)}
 @supports(display: grid){.mdc-layout-grid__inner{display:grid;margin:0;grid-gap:24px;grid-gap:var(--mdc-layout-grid-gutter-desktop, 24px);grid-template-columns:repeat(12, minmax(0, 1fr))}}}
 @media(min-width: 600px) and (max-width: 839px){.mdc-layout-grid__inner{display:flex;flex-flow:row wrap;align-items:stretch;margin:-8px;margin:calc(var(--mdc-layout-grid-gutter-tablet, 16px) / 2 * -1)}
 @supports(display: grid){.mdc-layout-grid__inner{display:grid;margin:0;grid-gap:16px;grid-gap:var(--mdc-layout-grid-gutter-tablet, 16px);grid-template-columns:repeat(8, minmax(0, 1fr))}}}
 @media(max-width: 599px){.mdc-layout-grid__inner{display:flex;flex-flow:row wrap;align-items:stretch;margin:-8px;margin:calc(var(--mdc-layout-grid-gutter-phone, 16px) / 2 * -1)}
 @supports(display: grid){.mdc-layout-grid__inner{display:grid;margin:0;grid-gap:16px;grid-gap:var(--mdc-layout-grid-gutter-phone, 16px);grid-template-columns:repeat(4, minmax(0, 1fr))}}}
 @media(min-width: 840px){.mdc-layout-grid__cell{width:calc(33.3333333333% - 24px);width:calc(33.3333333333% - var(--mdc-layout-grid-gutter-desktop, 24px));box-sizing:border-box;margin:12px;margin:calc(var(--mdc-layout-grid-gutter-desktop, 24px) / 2)}
 @supports(display: grid){.mdc-layout-grid__cell{width:auto;grid-column-end:span 4}}
 @supports(display: grid){.mdc-layout-grid__cell{margin:0}}
 .mdc-layout-grid__cell--span-1,.mdc-layout-grid__cell--span-1-desktop{width:calc(8.3333333333% - 24px);width:calc(8.3333333333% - var(--mdc-layout-grid-gutter-desktop, 24px))}
 @supports(display: grid){.mdc-layout-grid__cell--span-1,.mdc-layout-grid__cell--span-1-desktop{width:auto;grid-column-end:span 1}}
 .mdc-layout-grid__cell--span-2,.mdc-layout-grid__cell--span-2-desktop{width:calc(16.6666666667% - 24px);width:calc(16.6666666667% - var(--mdc-layout-grid-gutter-desktop, 24px))}
 @supports(display: grid){.mdc-layout-grid__cell--span-2,.mdc-layout-grid__cell--span-2-desktop{width:auto;grid-column-end:span 2}}
 .mdc-layout-grid__cell--span-3,.mdc-layout-grid__cell--span-3-desktop{width:calc(25% - 24px);width:calc(25% - var(--mdc-layout-grid-gutter-desktop, 24px))}
 @supports(display: grid){.mdc-layout-grid__cell--span-3,.mdc-layout-grid__cell--span-3-desktop{width:auto;grid-column-end:span 3}}
 .mdc-layout-grid__cell--span-4,.mdc-layout-grid__cell--span-4-desktop{width:calc(33.3333333333% - 24px);width:calc(33.3333333333% - var(--mdc-layout-grid-gutter-desktop, 24px))}
 @supports(display: grid){.mdc-layout-grid__cell--span-4,.mdc-layout-grid__cell--span-4-desktop{width:auto;grid-column-end:span 4}}
 .mdc-layout-grid__cell--span-5,.mdc-layout-grid__cell--span-5-desktop{width:calc(41.6666666667% - 24px);width:calc(41.6666666667% - var(--mdc-layout-grid-gutter-desktop, 24px))}
 @supports(display: grid){.mdc-layout-grid__cell--span-5,.mdc-layout-grid__cell--span-5-desktop{width:auto;grid-column-end:span 5}}
 .mdc-layout-grid__cell--span-6,.mdc-layout-grid__cell--span-6-desktop{width:calc(50% - 24px);width:calc(50% - var(--mdc-layout-grid-gutter-desktop, 24px))}
 @supports(display: grid){.mdc-layout-grid__cell--span-6,.mdc-layout-grid__cell--span-6-desktop{width:auto;grid-column-end:span 6}}
 .mdc-layout-grid__cell--span-7,.mdc-layout-grid__cell--span-7-desktop{width:calc(58.3333333333% - 24px);width:calc(58.3333333333% - var(--mdc-layout-grid-gutter-desktop, 24px))}
 @supports(display: grid){.mdc-layout-grid__cell--span-7,.mdc-layout-grid__cell--span-7-desktop{width:auto;grid-column-end:span 7}}
 .mdc-layout-grid__cell--span-8,.mdc-layout-grid__cell--span-8-desktop{width:calc(66.6666666667% - 24px);width:calc(66.6666666667% - var(--mdc-layout-grid-gutter-desktop, 24px))}
 @supports(display: grid){.mdc-layout-grid__cell--span-8,.mdc-layout-grid__cell--span-8-desktop{width:auto;grid-column-end:span 8}}
 .mdc-layout-grid__cell--span-9,.mdc-layout-grid__cell--span-9-desktop{width:calc(75% - 24px);width:calc(75% - var(--mdc-layout-grid-gutter-desktop, 24px))}
 @supports(display: grid){.mdc-layout-grid__cell--span-9,.mdc-layout-grid__cell--span-9-desktop{width:auto;grid-column-end:span 9}}
 .mdc-layout-grid__cell--span-10,.mdc-layout-grid__cell--span-10-desktop{width:calc(83.3333333333% - 24px);width:calc(83.3333333333% - var(--mdc-layout-grid-gutter-desktop, 24px))}
 @supports(display: grid){.mdc-layout-grid__cell--span-10,.mdc-layout-grid__cell--span-10-desktop{width:auto;grid-column-end:span 10}}
 .mdc-layout-grid__cell--span-11,.mdc-layout-grid__cell--span-11-desktop{width:calc(91.6666666667% - 24px);width:calc(91.6666666667% - var(--mdc-layout-grid-gutter-desktop, 24px))}
 @supports(display: grid){.mdc-layout-grid__cell--span-11,.mdc-layout-grid__cell--span-11-desktop{width:auto;grid-column-end:span 11}}
 .mdc-layout-grid__cell--span-12,.mdc-layout-grid__cell--span-12-desktop{width:calc(100% - 24px);width:calc(100% - var(--mdc-layout-grid-gutter-desktop, 24px))}
 @supports(display: grid){.mdc-layout-grid__cell--span-12,.mdc-layout-grid__cell--span-12-desktop{width:auto;grid-column-end:span 12}}}
 @media(min-width: 600px) and (max-width: 839px){.mdc-layout-grid__cell{width:calc(50% - 16px);width:calc(50% - var(--mdc-layout-grid-gutter-tablet, 16px));box-sizing:border-box;margin:8px;margin:calc(var(--mdc-layout-grid-gutter-tablet, 16px) / 2)}
 @supports(display: grid){.mdc-layout-grid__cell{width:auto;grid-column-end:span 4}}
 @supports(display: grid){.mdc-layout-grid__cell{margin:0}}
 .mdc-layout-grid__cell--span-1,.mdc-layout-grid__cell--span-1-tablet{width:calc(12.5% - 16px);width:calc(12.5% - var(--mdc-layout-grid-gutter-tablet, 16px))}
 @supports(display: grid){.mdc-layout-grid__cell--span-1,.mdc-layout-grid__cell--span-1-tablet{width:auto;grid-column-end:span 1}}
 .mdc-layout-grid__cell--span-2,.mdc-layout-grid__cell--span-2-tablet{width:calc(25% - 16px);width:calc(25% - var(--mdc-layout-grid-gutter-tablet, 16px))}
 @supports(display: grid){.mdc-layout-grid__cell--span-2,.mdc-layout-grid__cell--span-2-tablet{width:auto;grid-column-end:span 2}}
 .mdc-layout-grid__cell--span-3,.mdc-layout-grid__cell--span-3-tablet{width:calc(37.5% - 16px);width:calc(37.5% - var(--mdc-layout-grid-gutter-tablet, 16px))}
 @supports(display: grid){.mdc-layout-grid__cell--span-3,.mdc-layout-grid__cell--span-3-tablet{width:auto;grid-column-end:span 3}}
 .mdc-layout-grid__cell--span-4,.mdc-layout-grid__cell--span-4-tablet{width:calc(50% - 16px);width:calc(50% - var(--mdc-layout-grid-gutter-tablet, 16px))}
 @supports(display: grid){.mdc-layout-grid__cell--span-4,.mdc-layout-grid__cell--span-4-tablet{width:auto;grid-column-end:span 4}}
 .mdc-layout-grid__cell--span-5,.mdc-layout-grid__cell--span-5-tablet{width:calc(62.5% - 16px);width:calc(62.5% - var(--mdc-layout-grid-gutter-tablet, 16px))}
 @supports(display: grid){.mdc-layout-grid__cell--span-5,.mdc-layout-grid__cell--span-5-tablet{width:auto;grid-column-end:span 5}}
 .mdc-layout-grid__cell--span-6,.mdc-layout-grid__cell--span-6-tablet{width:calc(75% - 16px);width:calc(75% - var(--mdc-layout-grid-gutter-tablet, 16px))}
 @supports(display: grid){.mdc-layout-grid__cell--span-6,.mdc-layout-grid__cell--span-6-tablet{width:auto;grid-column-end:span 6}}
 .mdc-layout-grid__cell--span-7,.mdc-layout-grid__cell--span-7-tablet{width:calc(87.5% - 16px);width:calc(87.5% - var(--mdc-layout-grid-gutter-tablet, 16px))}
 @supports(display: grid){.mdc-layout-grid__cell--span-7,.mdc-layout-grid__cell--span-7-tablet{width:auto;grid-column-end:span 7}}
 .mdc-layout-grid__cell--span-8,.mdc-layout-grid__cell--span-8-tablet{width:calc(100% - 16px);width:calc(100% - var(--mdc-layout-grid-gutter-tablet, 16px))}
 @supports(display: grid){.mdc-layout-grid__cell--span-8,.mdc-layout-grid__cell--span-8-tablet{width:auto;grid-column-end:span 8}}
 .mdc-layout-grid__cell--span-9,.mdc-layout-grid__cell--span-9-tablet{width:calc(100% - 16px);width:calc(100% - var(--mdc-layout-grid-gutter-tablet, 16px))}
 @supports(display: grid){.mdc-layout-grid__cell--span-9,.mdc-layout-grid__cell--span-9-tablet{width:auto;grid-column-end:span 8}}
 .mdc-layout-grid__cell--span-10,.mdc-layout-grid__cell--span-10-tablet{width:calc(100% - 16px);width:calc(100% - var(--mdc-layout-grid-gutter-tablet, 16px))}
 @supports(display: grid){.mdc-layout-grid__cell--span-10,.mdc-layout-grid__cell--span-10-tablet{width:auto;grid-column-end:span 8}}
 .mdc-layout-grid__cell--span-11,.mdc-layout-grid__cell--span-11-tablet{width:calc(100% - 16px);width:calc(100% - var(--mdc-layout-grid-gutter-tablet, 16px))}
 @supports(display: grid){.mdc-layout-grid__cell--span-11,.mdc-layout-grid__cell--span-11-tablet{width:auto;grid-column-end:span 8}}
 .mdc-layout-grid__cell--span-12,.mdc-layout-grid__cell--span-12-tablet{width:calc(100% - 16px);width:calc(100% - var(--mdc-layout-grid-gutter-tablet, 16px))}
 @supports(display: grid){.mdc-layout-grid__cell--span-12,.mdc-layout-grid__cell--span-12-tablet{width:auto;grid-column-end:span 8}}}
 @media(max-width: 599px){.mdc-layout-grid__cell{width:calc(100% - 16px);width:calc(100% - var(--mdc-layout-grid-gutter-phone, 16px));box-sizing:border-box;margin:8px;margin:calc(var(--mdc-layout-grid-gutter-phone, 16px) / 2)}
 @supports(display: grid){.mdc-layout-grid__cell{width:auto;grid-column-end:span 4}}
 @supports(display: grid){.mdc-layout-grid__cell{margin:0}}
 .mdc-layout-grid__cell--span-1,.mdc-layout-grid__cell--span-1-phone{width:calc(25% - 16px);width:calc(25% - var(--mdc-layout-grid-gutter-phone, 16px))}
 @supports(display: grid){.mdc-layout-grid__cell--span-1,.mdc-layout-grid__cell--span-1-phone{width:auto;grid-column-end:span 1}}
 .mdc-layout-grid__cell--span-2,.mdc-layout-grid__cell--span-2-phone{width:calc(50% - 16px);width:calc(50% - var(--mdc-layout-grid-gutter-phone, 16px))}
 @supports(display: grid){.mdc-layout-grid__cell--span-2,.mdc-layout-grid__cell--span-2-phone{width:auto;grid-column-end:span 2}}
 .mdc-layout-grid__cell--span-3,.mdc-layout-grid__cell--span-3-phone{width:calc(75% - 16px);width:calc(75% - var(--mdc-layout-grid-gutter-phone, 16px))}
 @supports(display: grid){.mdc-layout-grid__cell--span-3,.mdc-layout-grid__cell--span-3-phone{width:auto;grid-column-end:span 3}}
 .mdc-layout-grid__cell--span-4,.mdc-layout-grid__cell--span-4-phone{width:calc(100% - 16px);width:calc(100% - var(--mdc-layout-grid-gutter-phone, 16px))}
 @supports(display: grid){.mdc-layout-grid__cell--span-4,.mdc-layout-grid__cell--span-4-phone{width:auto;grid-column-end:span 4}}
 .mdc-layout-grid__cell--span-5,.mdc-layout-grid__cell--span-5-phone{width:calc(100% - 16px);width:calc(100% - var(--mdc-layout-grid-gutter-phone, 16px))}
 @supports(display: grid){.mdc-layout-grid__cell--span-5,.mdc-layout-grid__cell--span-5-phone{width:auto;grid-column-end:span 4}}
 .mdc-layout-grid__cell--span-6,.mdc-layout-grid__cell--span-6-phone{width:calc(100% - 16px);width:calc(100% - var(--mdc-layout-grid-gutter-phone, 16px))}
 @supports(display: grid){.mdc-layout-grid__cell--span-6,.mdc-layout-grid__cell--span-6-phone{width:auto;grid-column-end:span 4}}
 .mdc-layout-grid__cell--span-7,.mdc-layout-grid__cell--span-7-phone{width:calc(100% - 16px);width:calc(100% - var(--mdc-layout-grid-gutter-phone, 16px))}
 @supports(display: grid){.mdc-layout-grid__cell--span-7,.mdc-layout-grid__cell--span-7-phone{width:auto;grid-column-end:span 4}}
 .mdc-layout-grid__cell--span-8,.mdc-layout-grid__cell--span-8-phone{width:calc(100% - 16px);width:calc(100% - var(--mdc-layout-grid-gutter-phone, 16px))}
 @supports(display: grid){.mdc-layout-grid__cell--span-8,.mdc-layout-grid__cell--span-8-phone{width:auto;grid-column-end:span 4}}
 .mdc-layout-grid__cell--span-9,.mdc-layout-grid__cell--span-9-phone{width:calc(100% - 16px);width:calc(100% - var(--mdc-layout-grid-gutter-phone, 16px))}
 @supports(display: grid){.mdc-layout-grid__cell--span-9,.mdc-layout-grid__cell--span-9-phone{width:auto;grid-column-end:span 4}}
 .mdc-layout-grid__cell--span-10,.mdc-layout-grid__cell--span-10-phone{width:calc(100% - 16px);width:calc(100% - var(--mdc-layout-grid-gutter-phone, 16px))}
 @supports(display: grid){.mdc-layout-grid__cell--span-10,.mdc-layout-grid__cell--span-10-phone{width:auto;grid-column-end:span 4}}
 .mdc-layout-grid__cell--span-11,.mdc-layout-grid__cell--span-11-phone{width:calc(100% - 16px);width:calc(100% - var(--mdc-layout-grid-gutter-phone, 16px))}
 @supports(display: grid){.mdc-layout-grid__cell--span-11,.mdc-layout-grid__cell--span-11-phone{width:auto;grid-column-end:span 4}}
 .mdc-layout-grid__cell--span-12,.mdc-layout-grid__cell--span-12-phone{width:calc(100% - 16px);width:calc(100% - var(--mdc-layout-grid-gutter-phone, 16px))}
 @supports(display: grid){.mdc-layout-grid__cell--span-12,.mdc-layout-grid__cell--span-12-phone{width:auto;grid-column-end:span 4}}}
 .mdc-layout-grid__cell--order-1{order:1}
 .mdc-layout-grid__cell--order-2{order:2}
 .mdc-layout-grid__cell--order-3{order:3}
 .mdc-layout-grid__cell--order-4{order:4}
 .mdc-layout-grid__cell--order-5{order:5}
 .mdc-layout-grid__cell--order-6{order:6}
 .mdc-layout-grid__cell--order-7{order:7}
 .mdc-layout-grid__cell--order-8{order:8}
 .mdc-layout-grid__cell--order-9{order:9}
 .mdc-layout-grid__cell--order-10{order:10}
 .mdc-layout-grid__cell--order-11{order:11}
 .mdc-layout-grid__cell--order-12{order:12}
 .mdc-layout-grid__cell--align-top{align-self:flex-start}
 @supports(display: grid){.mdc-layout-grid__cell--align-top{align-self:start}}
 .mdc-layout-grid__cell--align-middle{align-self:center}
 .mdc-layout-grid__cell--align-bottom{align-self:flex-end}
 @supports(display: grid){.mdc-layout-grid__cell--align-bottom{align-self:end}}
 @media(min-width: 840px){.mdc-layout-grid--fixed-column-width{width:1176px;width:calc( var(--mdc-layout-grid-column-width-desktop, 72px) * 12 + var(--mdc-layout-grid-gutter-desktop, 24px) * 11 + var(--mdc-layout-grid-margin-desktop, 24px) * 2 )}}
 @media(min-width: 600px)and (max-width: 839px){.mdc-layout-grid--fixed-column-width{width:720px;width:calc( var(--mdc-layout-grid-column-width-tablet, 72px) * 8 + var(--mdc-layout-grid-gutter-tablet, 16px) * 7 + var(--mdc-layout-grid-margin-tablet, 16px) * 2 )}}
 @media(max-width: 599px){.mdc-layout-grid--fixed-column-width{width:368px;width:calc( var(--mdc-layout-grid-column-width-phone, 72px) * 4 + var(--mdc-layout-grid-gutter-phone, 16px) * 3 + var(--mdc-layout-grid-margin-phone, 16px) * 2 )}}
 .mdc-layout-grid--align-left{margin-right:auto;margin-left:0}
 .mdc-layout-grid--align-right{margin-right:0;margin-left:auto}


/**
 * MDC navigation drawer refactored for an AMP sidebar.
 *
 * | MDC block element class                | Refactored  |
 * | -------------------------------------- | ----------- |
 * | .mdc-drawer                            | #sidebar    |
 * | .mdc-drawer .mdc-list-group__subheader | (not used)  |
 * | .mdc-drawer .mdc-list-divider          | #sidebar hr |
 * | .mdc-drawer__subtitle                  | (not used)  |
 * | .mdc-drawer__title                     | (not used)  |
 *
 * CSS properties for animations and open/close states are removed because
 * these are handled by the `amp-sidebar` component.
 */
#sidebar {
  background-color: #fff;
  border-color: rgba(0, 0, 0, 0.12);
  border-radius: 0 0 0 0;
  border-right-style: solid;
  border-right-width: 1px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 100%;
  overflow: hidden;
  width: 256px;
}

#sidebar ol,
#sidebar ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

#sidebar li > a {
  align-items: center;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  font-family: Roboto, sans-serif;
  font-size: 0.875rem;
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
  font-weight: 500;
  height: 40px;
  justify-content: flex-start;
  letter-spacing: 0.0071428571em;
  line-height: 1.375rem;
  margin: 8px 8px;
  overflow: hidden;
  padding: 0 8px;
  position: relative;
  text-decoration: inherit;
  text-transform: inherit;
}

#sidebar ul a:hover {
  background-color: #eee;
  color: #000;
}

#sidebar a:focus {
  outline: none;
}

#sidebar li a > .material-icons {
  align-items: center;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.6);
  display: inline-flex;
  flex-shrink: 0;
  height: 24px;
  justify-content: center;
  margin-left: 12px;
  margin-right: 20px;
  width: 24px;
}

#sidebar li a > span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#sidebar .mdc-list-item--activated {
  background-color: #dcedc8;
  color: #689f38;
}

#sidebar .mdc-list-item--activated .material-icons {
  color: #7cb342;
}

#sidebar li:nth-child(1) {
  margin-top: 2px;
}

#sidebar li:nth-last-child(1) {
  margin-bottom: 0;
}

#sidebar hr {
  border: none;
  border-bottom-color: rgba(0, 0, 0, 0.12);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  height: 0;
  margin: 3px 0 4px;
}

#sidebar li a > span,
#sidebar li a > .material-icons {
  pointer-events: none;
}

.mdc-drawer__header {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  flex-wrap: nowrap;
  font-family: Roboto, sans-serif;
  min-height: 48px;
  padding: 16px 16px 4px;
  vertical-align: middle;
}

.mdc-drawer__header a {
  align-items: center;
  background: transparent;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  font-size: 38px;
  font-weight: 300;
  letter-spacing: -0.02em;
  text-decoration: none;
}

.mdc-drawer__header strong {
  padding-left: 6px;
  font-weight: 900;
}

.mdc-drawer__content {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.mdc-drawer-app-content {
  margin-left: 0;
  margin-right: 0;
  position: relative;
}

/* MDC top app bar */
.mdc-top-app-bar {
  background-color: #8bc34a;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 4;
}

.mdc-top-app-bar .mdc-top-app-bar__action-item,
.mdc-top-app-bar .mdc-top-app-bar__navigation-icon {
  color: #fff;
}

.mdc-top-app-bar .mdc-top-app-bar__action-item::before,
.mdc-top-app-bar .mdc-top-app-bar__action-item::after,
.mdc-top-app-bar .mdc-top-app-bar__navigation-icon::before,
.mdc-top-app-bar .mdc-top-app-bar__navigation-icon::after {
  background-color: #fff;
}

.mdc-top-app-bar .mdc-top-app-bar__action-item:hover::before,
.mdc-top-app-bar .mdc-top-app-bar__navigation-icon:hover::before {
  opacity: .08
}

.mdc-top-app-bar .mdc-top-app-bar__action-item:focus::before,
.mdc-top-app-bar .mdc-top-app-bar__navigation-icon:focus::before {
  transition-duration: 75ms;
  opacity: .24;
}

.mdc-top-app-bar .mdc-top-app-bar__action-item::after,
.mdc-top-app-bar .mdc-top-app-bar__navigation-icon::after {
  transition: opacity 150ms linear;
}

.mdc-top-app-bar .mdc-top-app-bar__action-item:active::after,
.mdc-top-app-bar .mdc-top-app-bar__navigation-icon:active::after {
  opacity: 0.24;
  transition-duration: 75ms;
}

.mdc-top-app-bar__row {
  box-sizing: border-box;
  display: flex;
  height: 64px;
  position: relative;
  width: 100%;
}

.mdc-top-app-bar__section {
  align-items: center;
  display: inline-flex;
  flex: 1 1 auto;
  min-width: 0;
  padding: 8px 12px;
  z-index: 1;
}

.mdc-top-app-bar__section--align-start {
  justify-content: flex-start;
  order: -1;
}

.mdc-top-app-bar__section--align-end {
  justify-content: flex-end;
  order: 1;
}

.mdc-top-app-bar__title {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.0125em;
  line-height: 2rem;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 0;
  text-decoration: inherit;
  text-overflow: ellipsis;
  text-transform: inherit;
  white-space: nowrap;
  z-index: 1;
}

.mdc-top-app-bar--fixed {
  position: top;
  overflow: hidden;
  top: 0;
  transition: box-shadow 200ms linear;
}

.mdc-top-app-bar--fixed-scrolled {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0,0,0,.12);
  transition: box-shadow 200ms linear;
}

.mdc-top-app-bar--fixed-adjust {
  padding-top: 64px;
}

@media (max-width: 599px) {
  .mdc-top-app-bar__row {
    height: 56px;
  }

  .mdc-top-app-bar__section {
    padding: 4px;
  }

  .mdc-top-app-bar--fixed-adjust {
    padding-top: 56px;
  }
}

.mdc-top-app-bar__title a {
  color: inherit;
  text-decoration: none;
}

/* MDC typography */
body,
details,
h1,
h2,
h3,
h4,
h5,
ul,
li,
ol,
p,
summary,
th,
td,
.mdc-typography,
.mdc-typography--body1,
.mdc-typography--body2,
.mdc-typography--headline6 {
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
  font-family: Roboto, "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  font-variant-numeric: oldstyle-nums;
  text-decoration: inherit;
  text-transform: inherit;
}

abbr[title] {
  border-bottom: none;
  text-decoration: none;
}

code,
kbd,
pre {
  cursor: text;
  font-family: "Roboto Mono", Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  font-size: 17px;
  font-weight: normal;
  font-weight: 500;
  letter-spacing: -0.04ex;
  padding: 1px 2px 2px 2px;
}

code,
kbd {
  background-color: #eceff1; /* Material Blue Gray 50 */
  color: #263238; /* Material Blue Gray 900 */
}

pre {
  background-color: #eceff1; /* Material Blue Gray 50 */
  color: #37474f;
  overflow-x: auto;
  padding: 1ex;
}

pre > code {
  background: transparent;
}

/* .mdc-typography--headline1 */
h1 {
  font-family: Roboto, inherit;
  font-size: 6rem;
  font-weight: normal;
  font-weight: 300;
  line-height: 6rem;
  letter-spacing: -0.015625em;
}

h1 strong {
  font-family: Roboto, inherit;
  font-weight: 900;
}

/* .mdc-typography--headline3, skipping .mdc-typography--headline2 */
h2 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 3.125rem;
  letter-spacing: normal;
}

/* .mdc-typography--headline4 */
h3,
.mdc-typography--headline4 {
  font-size: 2.125rem;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.0073529412em;
}

/* .mdc-typography--headline5 */
h4,
summary,
.mdc-typography--headline5 {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 2rem;
}

/* .mdc-typography--headline6 */
h5,
.mdc-typography--headline6 {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.0125em;
  line-height: 2rem;
}

h5 {
  margin-bottom: 12px;
}

h5 + ol {
  margin-top: 0;
}

h5 span.material-icons {
  vertical-align: middle;
}

/* .mdc-typography--body1 */
.mdc-typography--body1 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.03125em;
  text-decoration: inherit;
}

/* .mdc-typography--body2 */
.mdc-typography--body2 {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.0178571429em;
}


/* Shift `--headline` styles on mobile */
@media (max-width: 480px) {

  /* .mdc-typography--headline2 */
  h1 {
    font-size: 3.75rem;
    font-weight: 300;
    letter-spacing: -0.0083333333em;
    line-height: 3.75rem;
  }

  /* .mdc-typography--headline4 */
  h2 {
    font-size: 2.125rem;
    font-weight: 400;
    line-height: 2.5rem;
    letter-spacing: 0.0073529412em;
  }

  /* .mdc-typography--headline5 */
  h3 {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 2rem;
  }
}

/* .mdc-typography--body1 with `normal` letter spacing */
details,
li,
p {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.03125em;
  line-height: 1.5rem; 
}

details {
  letter-spacing: normal;
  max-width: 45em;
  padding-bottom: 1.5rem;
}


/* Longreads */
article {
  background-color: #fff;
  color: #1f1f1f;
  margin: 0 auto;
  max-width: 792px;
  padding: 12px 24px;
}

/* Apply .mdc-elevation--z3 and increase whitespace */
@media screen and (min-width: 760px) {
  article {
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0,0,0,.12);
    font-size: 19px;
    margin-bottom: 48px;
    margin-top: 36px;
    padding: 24px 48px;
  }
}

article pre > code {
  font-size: 16px;
  font-variant-numeric: slashed-zero;
  letter-spacing: -.5px;
  line-height: 18px;
}

article h2,
article h3,
article h4 {
  letter-spacing: normal;
  line-height: 1.15em;
  margin-bottom: 17px;
  margin-top: 42px;
}

article h2 {
  font-size: 31px;
  font-weight: 500;
}

article h3 {
  font-size: 24px;
  font-weight: 400;
}

article details,
article li,
article p {
  font-family: Roboto, "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 24px;
}

article li > code,
article li > kbd,
article p > code,
article p > kbd {
  font-size: 16px;
}

article li {
  margin-bottom: 12px;
}

article small {
  font-size: 14px;
  line-height: 17px;
}

article a,
article a:link {
  color: #0288d1; /* Material Light Blue 700 */
  text-decoration: underline;
  text-decoration-thickness: from-font;
}

article a:visited {
  color: #7b1fa2; /* Material Purple 700 */
  text-decoration: none;
}

article a:hover {
  color: #03a9f4; /* Material Light Blue 500 */
  cursor: pointer;
  text-decoration: none;
}

article dfn,
article em,
article strong {
  font-style: normal;
  font-weight: 500;
}

/* Mobile */
@media (max-width: 480px) {
  article {
    padding: 12px 24px;
  }
}

/* Elements outside `<article>` context */
main > h1,
main > section > h2,
main > section > p {
  padding-left: 16px;
}

/* Material icons and links in headlines */
h2 .material-icons,
h3 .material-icons {
  color: rgba(0, 0, 0, 0.87);
  display: inline-block;
  font-size: inherit;
  vertical-align: text-bottom;
}

h2 a {
  color: inherit;
  text-decoration: none;
}

h2 a:hover i {
  color: #03a9f4;
}


/**
 * Mini footer from Material Design Lite (MDL)
 *
 * @see https://code.getmdl.io/1.3.0/material.indigo-pink.min.css
 *      Footer CSS from Material Design Lite (MDL)
 *
 * | MDL block element class         | Refactored             |
 * | ------------------------------- | ---------------------- |
 * | .mdl-mini-footer                | footer                 |
 * | .mdl-mini-footer__left-section  | .footer__left-section  |
 * | .mdl-mini-footer__link-list     | footer ul              |
 * | .mdl-mini-footer__right-section | .footer__right-section |
 * | .mdl-mini-footer__social-btn    | .footer__social-btn    |
 */
footer {
  background-color: #414141;
  color: #bdbdbd;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px 16px;
}

footer:after {
  content: '';
  display: block;
}

footer .footer__logo {
  line-height: 36px;
}

footer .footer__logo a {
  color: #eceff1;
  text-decoration: none;
}

footer a:hover {
  color: #fff;
}

footer ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  margin-bottom: 0;
  margin-right: 16px;
}

@media screen and (min-width:760px) {
  footer ul li {
    line-height: 36px;
  }
}

footer ul a,
footer ul a:visited {
  color: #bdbdbd;
  text-decoration: none;
  white-space: nowrap;
}

.footer__left-section {
  display:inline-block;
  -webkit-order: 0;
  -ms-flex-order: 0;
           order: 0;
}

.footer__left-section p {
  font-size: 12pt;
  font-weight: 400;
  line-height: 16pt;
  max-width: 45em;
  text-wrap: balance;
}

.footer__right-section {
  display: inline-block;
   -webkit-order: 1;
  -ms-flex-order: 1;
           order: 1;
}

.footer__social-btn {
  background-color: #9e9e9e;
  border: none;
  height: 36px;
  margin: 0;
  padding: 0;
  width: 36px;
}


/**
 * Theme
 */
.amd-theme-logotype {
  color: #000;
  font-family: Roboto, sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: -0.02em;
  line-height: 1.5em;
}

.amd-theme-logotype > strong {
  font-style: normal;
  font-weight: 900;
}


/**
 * Colors
 */
.amd-background-color--white { background-color: #fff }

.amd-color--amber-500 { color: #ffc107 }
.amd-color--blue-500 { color: #2196f3 }
.amd-color--blue-grey-500 { color: #607d8b }
.amd-color--brown-500 { color: #795548 }
.amd-color--cyan-500 { color: #00bcd4 }
.amd-color--deep-orange-500 { color: #ff5722 }
.amd-color--deep-purple-500 { color: #673ab7 }
.amd-color--green-500 { color: #4caf50 }
.amd-color--grey-500 { color: #9e9e9e }
.amd-color--indigo-500 { color: #3f51b5 }
.amd-color--light-blue-500 { color: #03a9f4 }
.amd-color--light-blue-700 { color: #0288d1 }
.amd-color--light-blue-a700 { color: #0091ea }
.amd-color--light-green-500 { color: #8bc34a }
.amd-color--light-green-700 { color: #689f38 }
.amd-color--light-green-a700 { color: #64dd17 }
.amd-color--lime-500 { color: #cddc39 }
.amd-color--orange-500 { color: #ff9800 }
.amd-color--pink-500 { color: #e91e63 }
.amd-color--purple-500 { color: #9c27b0 }
.amd-color--purple-700 { color: #7b1fa2 }
.amd-color--red-500 { color: #f44336 }
.amd-color--red-700 { color: #d32f2f }
.amd-color--teal-500 { color: #009688 }
.amd-color--yellow-500 { color: #ffeb3b }

.amd-color--inherit {
  background: transparent;
  color: inherit;
  text-decoration: inherit;
}


/**
 * Breadcrumbs
 */
.amd-breadcrumb-list {
  list-style: none; 
  overflow: hidden;
  margin: 36px 24px 24px 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.amd-breadcrumb-list li { 
  float: left;
  font-family: "Roboto Flex", Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.0178571429em;
  line-height: 1.25rem;
  padding-left: 0.65ex;
}

.amd-breadcrumb-list a:hover {
  text-decoration: underline;
}

.amd-breadcrumb-list li:not(:first-child):before {
  color: rgba(0, 0, 0, 0.54);
  content: ">";
  padding: 0 5px 0 5px;
}

.amd-breadcrumb-list li::after { 
  content: " "; 
}

@media (max-width: 480px) {
  .amd-breadcrumb-list li:last-child {
    display: none;
  }
}


/**
 * Hero images
 */
.amd-hero-image {
  background-color: inherit;
  background-position: center;
  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.amd-hero-image--android-smartphone-on-black-background {
  background-color: #000;
  background-image: url("/images/android-smartphone-on-black-background-5K-5120x2880-compressed.jpg");
  background-image: url("/images/android-smartphone-on-black-background-5K-5120x2880-compressed.webp");
  color: #fff;
}

/* Photo by Ilya Pavlov on Unsplash */
.amd-hero-image--php-code-in-2k {
  background-color: #000;
  background-image: url("/images/php-code-2K-2048x1080-compressed.jpg");
  background-image: url("/images/php-code-2K-2048x1080.webp");
  background-position: center;
  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  color: rgba(255, 255, 255, 0.87);
}

/* Custom overrides */
#feature-highlights i {
  display: inline-block;
  font-size: 220%;
  margin-top: 12px;
  margin-bottom: -8px;
}
